*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(to right,#081229,#1b2a4a);

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 10px; */
    background: aqua;
    padding: 10px;
    margin: 20px;
    font-size: 27px;
}

.nav a{
    text-decoration: none;
}

.bar{
    display: none;
}

.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    height: 70vh;
    place-items: center;
    padding: 17px;
}

.box{
    background: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}

footer{
    display: flex;
    background: aqua;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 20px;
    padding: 15px;
    font-size: 25px;
}

@media (max-width:768px) {
    .bar{
        display: block;
    }

    .nav{
        display: none;
    }
}