*{
    margin:0;
    padding:0;
}

body{
    background:#1b1b2f;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    color:white;
    margin:35px;
}

.container{
    width:90%;
    height:250px;
    border:3px solid white;
    border-radius: 20px;
    margin:auto;
    position:relative;
}

.box{
    width:100px;
    height:100px;
    background:tomato;
    border-radius:15px;
    position:absolute;
    top:70px;

    /* Animation Properties */
    animation-name: moveBox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes moveBox{

    0%{
        left: 0;
        background:tomato;
        transform:rotate(0deg);
    }

    25%{
        background:orange;
    }

    50%{
        left:92%;
        background:limegreen;
        transform:rotate(180deg);
    }

    75%{
        background:dodgerblue;
    }

    100%{
        left:0;
        background:tomato;
        transform:rotate(360deg);
    }

}